name: Build
on: [push, pull_request]
jobs:
    build:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: recursive
                  token: ${{ secrets.CI_TOKEN }}
            - uses: actions/setup-node@v3
              with:
                  node-version: "16"
            - run: yarn install
            - run: yarn prettier
              working-directory: packages/contracts
            - run: yarn prepack
              working-directory: packages/contracts
            - run: yarn test:coverage
              working-directory: packages/contracts
            - name: Coveralls
              uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  path-to-lcov: ./packages/contracts/coverage/lcov.info
